*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* :root {
    --main-color:
} */




body {
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

}
.head-1{

    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    background-color:rgb(148, 186, 255) ;

    text-align: center;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    margin: 0;

    padding: 20px;
    height: 70px;
}

.header .container {
    display: flex;
    justify-content:space-between ;
    align-items: center;

}

.header .logo {

    
    width: 45px;
    margin-top: -7px;
    margin-left: 17px;
}
.header .links{
    position: relative;
        /* background-color:rgba(0, 0, 0, 0.267); */

}

 .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-end;

 } 
.header .links .icon  span{

   background-color: rgb(74, 179, 248);
   margin-bottom: 5px;
 }

.header .links .icon  span:first-child {

    height: 2px;
    width :100%;

 }

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

 .header .links .icon  span:nth-child(2) {
    height: 2px;
    width:60%; 
    transition:0.3s ;
    
}
    .header .links .icon  span:last-child {

        height: 2px;
        width :100%;
    
    }
    .header .links ul {
        list-style: none; 
        margin: 0;
        padding: 0;
        background-color: cadetblue;
        position: absolute;
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        display: none;
        z-index: 1;
    }
    .header .links ul::before {
         content: "";
         border-width: 10px;
         border-style: solid;
         border-color:transparent transparent cadetblue transparent;
         position: absolute;
         right: 5px;
         top: -20px;
    }
    .header .links:hover ul{
        display: block;
    }
    .header .links ul li a{
        display: block;
        padding: 14px;
        text-decoration:none ;
        color: azure;
        transition: 0.3s;
        
}
    .header .links ul li a:hover{
        padding-left:35px;
    }
    .header .links ul li:not(:last-child) a {
        border-bottom: 1px solid azure;

    }
    .landing {
        background-image: url(../images/pexels-victor-freitas-744780.jpg);
        background-size:cover;
        height: calc(100vh - 70px);
        position: relative;
        
    }

    .landing .intro-text {
        position: absolute;
        left: 50%;
        top: 20%;
        color: rgb(57, 192, 245);
        transform: translate(-50%,-50%);
        text-align: center;
        width: 320px;
        max-width: 100%;
       
}

    .landing .intro-text h1 {
        margin: 0;
        font-size: 37px;
    }
    .landing .intro-text p {
        position: absolute;
        text-align:center;
        left:9% ;
        font-size: 20px;       
    }

    /* Start Features */
 .accordion {

        width: 100%;
        border: 0;
        background: #eee;
        font-size: 16px;
        font-weight: bold;
        padding: 17px;
        cursor: pointer ;


    }
    .accordion::after {
        content: "+";
        float: right;
        font-weight: bold;
        color: #777;
    }
    .accordion:hover {
        background: rgb(148, 186, 255);
    }
    .active::after {
        content: "-";
    }
  
    .features { 

        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #f6f6f6;
    }
    .features .feat{     

        padding: 11px;
        text-align: center;  

      }

    .features .container { 
        overflow: hidden;
        max-height: 0;
        display: grid;      
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-gap: 20px;
        
    }

    .features .container .feat img{ 

        width: 210px;
        height: 160px;
        margin-top: 110px;
        margin-bottom: 20px;
        grid-gap: 20px;
        border-radius: 9px;
}
.features .container .feat img:hover{
    padding:8px;
    border: 1px solid rgb(57, 192, 245) ;
    transition:0.4s;
    
}
.features .feat h3 {

    color: rgb(57, 192, 245);
    margin: 9px 0;
    line-height: 1.8;
   


}

.features .feat p {
    margin-top: 14px;
    font-size: 15px;
    font-weight: bold;
   
}


/* end eating */
.drinks .container {
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.drinks .drink{
padding: 11px;
text-align: center;  
}

.drinks .container .drink img{
width: 215px;
height: 220px;
margin-top: 110px;
margin-bottom: 20px;
grid-gap: 20px;
border-radius: 9px;
}
.drinks .drink h3 {

color: rgb(57, 192, 245);
margin: 9px 0;
line-height: 1.8;



}

.drinks .drink p {
margin-top: 14px;
font-size: 15px;
font-weight: bold;

}


/* End Features */

/* Start Services */
.services .container .special-heading {

    margin: 0;
    color: #6F8792;
    font-size: 35px;
    text-align: center;
    position: relative;
    letter-spacing: 1.6px;
}
.special-heading + p {
    margin: -30px 0 0;
    padding: 32px;
    color: #760006 ;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top:100px
}

  
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;



    
    }
  

    .services .services-content .srv i {
        flex-basis:60px ;
        margin-top: -12px;
         
       
    }
    .services .services-content .srv .text {

        flex: 1;
    }
    .services .services-content .col .srv .text h3 {
        margin: 10px 10px 10px 10px;
        font-weight:bold;
        font-size: 22px;
        

    }
    .services .services-content .col .srv .text p {
        font-weight: 300px;
        font-size: 19px;
        color: rgb(160, 119, 95);
        line-height: 1.1;
    }
    .services .services-content .image {
       
        text-align: center;
        position: relative;
        bottom: -60px;

    }

    .services .services-content  .image::before {
        content: "" ;
        position: absolute;
        right: 0;
        background-color: cadetblue;
        border-radius: 40px;
        width: 80px;
        height: calc(100% + 80px);
        top: -40px;
        z-index: -1;
       
}
 .services .services-content .image img {
            width: 260px;
            height: 260px;
            border-radius: 10px;
}

/* Start portfolio */
.prtfolio {
    
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: #f6f6f6; */
    background-color: #e0e0e0;
        grid-gap: 20px;
      width: 100%;

}
 .container h2 {
    color: rgb(70, 139, 0);
    text-align: center;
    letter-spacing: 8px;
    line-height: 71px;
  
   
}
.prtfolio .container p {
    
    letter-spacing: 1px;
    color: rgb(57, 192, 245);

    
}


.prtfolio .prtfolio-content {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top:100px;


}
.prtfolio .prtfolio-content .card{

    background-color: rgb(255, 255, 255);  

}

.prtfolio .prtfolio-content .card img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    transform:translate(72%, 5%) ;
}

.prtfolio .prtfolio-content .card .info {

    padding: 17px;

}
.prtfolio .prtfolio-content .card .info  h3{
    margin: 0;
    text-align: center;
}

.prtfolio .prtfolio-content .card .info p{

    color:#777 ;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}
.about{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: #d1d1d1; */
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.about .about-content .text {

    flex-basis: calc(100% - 700px);
}

 .about .about-content .text h3 {
    margin: 17px 0 7px;
    color: #760006;
    font-size: 27px;
    

} 


.about-content .text p {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 20px;

}
.about-content .text hr {

    width: 38%;
    display: inline-block;
    border-color: rgb(255, 186, 57);
    margin-bottom: 6px;



}


.about .about-content .image {
    position: relative;
    width: 250px;
    height: 350px;

}

.about .about-content .image::before  {
    
    content: "" ;
    position: absolute;
    background-color: #ebeced;
    width: 80px;
    height: calc(100% + 50px);
    top: -40px;
    left: -20px;
    z-index:-1;
    
}

.about .about-content .image::after {
    content: "" ;
    top: -70px;
    position: absolute;
    background-color: cadetblue;
    width: 1px;
    height:190px;
    border-left: 80px solid cadetblue;
    border-bottom: 100px solid rgb(160, 91, 0);
    z-index: -1;
    right: -50px;

}

/* End about  */

.slide img {
    width: 750px;
    height: 470px;
    display: block;
    margin: 50px auto;
    border: 1px solid #f50;
    padding:5px ;

}
.slide p {
    width: 60%;
    margin: auto;
    text-align: center;
    background: rgb(148, 186, 255);
    color: white;
    padding: 13px;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;

}


/* Start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #d1d1d1;
}
.contact .info {
    padding-top: 60px;
    padding-bottom: 4px;
    text-align:center;
}
.contact .info .label {

    font-size: 23px; 
    font-weight: bold;
    margin-bottom: 33px;
    color: #381f1f;
}
.contact .info .link {
    display: block;
    font-size: 27px;
    font-weight:bold;
    letter-spacing: 1px;
    color: blue;
    text-decoration: none;
}
.contact .info .social {

    display: flex;
    justify-content: center;
    margin-top: 11px;
}
.contact .info .social i {

    margin-left: 10px;
    margin-bottom: 0;
}


.footer {

   background-color: rgb(148, 186, 255);
   padding: 13px 10px;
   color: white;
   text-align: center;
   font-size: 19px;

}
.footer span {
    font-weight: bold;
    color: cadetblue;
    font-size: 26px;
}













/* :start media  */


@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
    .image-column{
        display: none;
    }
}


@media (min-width:991px) {
    html{
        font-size: 67%;
    }
    .header {
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    }
    .container {
        width: 970px;
    }
    

@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;

    }
    .special-heading + p {
        margin-top: -20px;

    }
    .services .services-content .srv {
        flex-direction : column;
        text-align: center;
        
    }

}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
    
}



@media (max-width:991px) {
    .about .about-content {
    flex-direction: column;
    text-align: center;
}
}

@media (max-width:991px) {
    .about .about-content .image {
       margin: 0 auto 60px;
    }
       .about .about-content .image::before ,
    .about .about-content .image::after {
       display: none;
    }
}
.about .about-content .image img {

max-width:100% ;
}


@media  (min-width :375px) {
    .slide img
    .slide p {
        flex-direction: column;
        text-align: center;
        width: 750px;
        height: 250px;

    }
}





@media (max-width:767px) {
    .contact .info .link ,
    .contact .info .label{

        font-size: 30px;
    }
    
}

@media (max-width:991px) {
    html{
    font-size: 55%;
}
.header {
    padding: 2rem;
}
section{
    padding: 2rem;
}
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .search-form {
        width: 80%;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background:#fff ;
        border-radius: .5rem;
       
}
.header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;

} 
.header .shopping-cart {
    width: 65%;
}
/*  */

}
@media (max-width:450px) {
    html{
    font-size: 50%;
}
.heading{
    font-size: 2.5rem;
}
.footer {
    text-align: center;
}
}
@media (max-width:360) {
    .footer {
    text-align: center;
    }
}

/* end @media  */





































